[mysqld]
lower_case_table_names=1
character-set-server = utf8
max_allowed_packet = 50M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,STRICT_ALL_TABLES
max_connections=500
max_connect_errors=1000
event_scheduler=ON
server-id = 1

slow_query_log=1
long_query_time=2
log_queries_not_using_indexes=0
log_throttle_queries_not_using_indexes = 10
binlog_format=row
binlog_cache_size=2M
max_binlog_cache_size=16M
log_bin=mysql-bin
server-id=1
# innodb files
innodb_file_per_table=1
innodb_log_file_size=1G
innodb_log_files_in_group=2
innodb_open_files=1000

# innodb
innodb_doublewrite=0
innodb_thread_concurrency=0
innodb_flush_log_at_trx_commit=2
innodb_max_dirty_pages_pct=50
innodb_use_native_aio=ON
innodb_stats_persistent=ON
innodb_data_file_path=ibdata1:10M:autoextend
#innodb_spin_wait_delay= 6 / 96

# buffers
tmp_table_size=64M
key_buffer_size=16M
join_buffer_size=8M
sort_buffer_size=8M
read_buffer_size=16M
read_rnd_buffer_size=8M
innodb_log_buffer_size=4M
innodb_buffer_pool_size=512M
innodb_buffer_pool_instances=8

max_heap_table_size=64M

thread_stack=192K
thread_cache_size=8

bind-address = 0.0.0.0
skip-name-resolve

[mysql]
default-character-set = utf8